{% load static %}

<!-- Card Grid -->
<div class="container content-space-2 content-space-lg-3">
    <!-- Title -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>جدیدترین محصولات</h2>
    </div>
    <!-- End Title -->

    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-3">
        {% for latest_product in latest_products %}
        <div class="col mb-4">
            <!-- Card -->
            <div class="card card-bordered shadow-none text-center h-100">
                <div class="card-pinned">
                    <img class="card-img-top" src="{{latest_product.image.url}}" alt="Image Description">
                    {% if request.user.is_authenticated %}
                    <div class="card-pinned-top-end">
                        <button type="button"
                            class="btn btn-outline-secondary btn-xs btn-icon rounded-circle {% if latest_product.id in wishlist_items %} active {% endif %}"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="افزودن به علایق"
                            onclick="addToWishlist(this,`{{latest_product.id}}`)">
                            <i class="bi-heart"></i>
                        </button>
                    </div>
                    {% endif %}
                </div>

                <div class="card-body">
                    <div class="mb-2">
                        {% for category in latest_product.category.all %}
                        <a class="link-sm link-secondary" href="#"> {{category.title}} </a>
                        {% if not forloop.last %}
                        ,
                        {% endif %}
                        {% endfor %}
                    </div>

                    <h4 class="card-title">
                        <a class="text-dark"
                            href="{% url 'shop:product-detail' slug=latest_product.slug %}">{{latest_product.title}}</a>
                    </h4>
                    {% if latest_product.is_discounted %}
                    <p class="card-text text-dark fs-4">
                        <span class="formatted-price">{{latest_product.get_price}}</span>
                        <span
                            class="text-body me-1 fs-6 formatted-price text-decoration-line-through">{{latest_product.price}}</span>
                    </p>
                    {% else %}
                    <p class="card-text text-dark fs-4 formatted-price"> {{latest_product.price}} </p>
                    {% endif %}
                </div>

                <div class="card-footer pt-0">
                    <!-- Rating -->
                    <a class="d-inline-flex align-items-center mb-3" href="#">
                        <div class="d-flex gap-1 ms-2">
                            {% for i in "12345" %}
                            {% if i|add:0 <= latest_product.avg_rate %} <span><i
                                    class="bi bi-star-fill star-rate"></i></span>
                                {% else %}
                                <span><i class="bi bi-star star-rate"></i></span>
                                {% endif %}

                                {% endfor %}
                                <span class="ms-1">{{latest_product.avg_rate}}/5</span>
                        </div>

                    </a>
                    <!-- End Rating -->

                    <button type="button" class="btn btn-outline-primary btn-sm btn-transition rounded-pill"
                        onclick="addToCart('{{latest_product.id}}')">افزودن به
                        سبد
                        خرید</button>
                </div>
            </div>
            <!-- End Card -->
        </div>
        {% empty %}
        <div class="row text-center w-100 py-5">
            <p class="text-center">هیچ کالایی برای نمایش وجود ندارد</p>
        </div>
        <!-- End Col -->
        {% endfor %}
    </div>
    <!-- End Row -->

    <div class="text-center">
        <a class="btn btn-outline-primary btn-transition rounded-pill" href="{% url 'shop:product-grid' %}">مشاهده تمامی
            محصولات</a>
    </div>
</div>
<!-- End Card Grid -->