{% extends 'dashboard/customer/base.html' %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item active" aria-current="page">
            داشبورد
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<!-- Card -->
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
        <h5 class="card-header-title">خلاصه داشبورد</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
        <div class="row">

        </div>
        <!-- End Row -->

    </div>
    <!-- End Body -->
</div>
<!-- End Card -->
{% endblock %}