{% load static %}
<!-- Navbar -->
 <div class="navbar-expand-lg navbar-light">
    <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
      <!-- Card -->
      <div class="card flex-grow-1 mb-5">
        <div class="card-body">
          <!-- Avatar -->
          <div class="d-none d-lg-block text-center mb-5">
            <div class="avatar avatar-xxl avatar-circle mb-3">
              <img class="avatar-img" src="{{request.user.user_profile.image.url}}" alt="Image Description" />

            </div>

            <h4 class="card-title mb-0">{{request.user.user_profile.get_fullname}}</h4>
            <p class="card-text small">{{request.user.email}}</p>
          </div>
          <!-- End Avatar -->

          <!-- Nav -->
          <span class="text-cap">حساب</span>

          <!-- List -->
          <ul class="nav nav-sm nav-tabs nav-vertical mb-4">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:customer:home' %}">
                <i class="bi-person-badge nav-icon"></i>داشبورد
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:customer:security-edit' %}">
                <i class="bi-shield-shaded nav-icon"></i> امنیت
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard:customer:profile-edit' %}">
                <i class="bi-sliders nav-icon"></i> تنظیمات پروفایل
              </a>
            </li>
          </ul>
          <!-- End List -->

          <span class="text-cap">خريد كردن</span>

          <!-- List -->
          <ul class="nav nav-sm nav-tabs nav-vertical mb-4">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'dashboard:customer:order-list' %}">
                <i class="bi-basket nav-icon"></i> سفارشات شما
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'dashboard:customer:wishlist-list' %}">
                <i class="bi-heart nav-icon"></i>لیست علایق
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="{% url 'dashboard:customer:address-list' %}">
                <i class="bi-geo-alt nav-icon"></i> نشانی
              </a>
            </li>

          </ul>
          <!-- End List -->

          

          <div class="d-lg-none">
            <div class="dropdown-divider"></div>

            <!-- List -->
            <ul class="nav nav-sm nav-tabs nav-vertical">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="bi-box-arrow-right nav-icon"></i> خروج
                </a>
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Nav -->
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Navbar -->