{% extends 'dashboard/admin/base.html' %}
{% load static %}

{% block extra_css %}
<style>
    .bg-pending{
        background-color: #495057;
    }
    .bg-accepted{
        background-color:  #198754;
    }
    .bg-rejected{
        background-color:  #dc3545;
    }
</style>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item"> داشبورد ادمین</li>
        <li class="breadcrumb-item active" aria-current="page">
            نظرات
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<!-- Card -->
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
        <form action="." class="row">

            <!-- Input Card -->
            <div class="col-md-3 py-1">
                <input type="text" class="form-control form-control-sm" placeholder="جستو جوی نظرات" name="q"
                    id="search-query-filter">

            </div>
            <div class="col-md-3 py-1">
                <select class="form-select form-select-sm" id="status-type-filter" name="status">
                    <option value="" selected>وضعیت</option>
                    {% for status_type in status_types %}
                    <option value="{{status_type.0}}">{{status_type.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 py-1">
                <select class="form-select form-select-sm" id="order-by-filter">
                    <option value="" selected>مرتب سازی</option>
                    <option value="-created_date">جدیدترین</option>
                    <option value="created_date">قدیمی ترین</option>
                </select>
            </div>

           
            <div class="col-md-2 py-1">
                <select class="form-select form-select-sm" id="page-size-filter">
                    <option value="" selected>تعداد</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </select>
            </div>

            <div class="col-md-1 py-1">
                <button type="submit" class="btn btn-sm btn-icon btn-primary btn-search"><i
                        class="bi-search"></i></button>
            </div>
        </form>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">

        <!-- Tab Content -->
        <div class="tab-content" id="accountOrdersTabContent">
            <div class="tab-pane fade show active" id="accountOrdersOne" role="tabpanel"
                aria-labelledby="accountOrdersOne-tab">
                <!-- Select Group -->
                <div class="d-sm-flex align-items-sm-center mb-5">
                    <div class="mb-2 mb-sm-0 me-3">
                        <span><strong class="text-dark">{{ total_items}} نظر</strong></span>
                    </div>
                </div>
                <!-- End Select Group -->
                <div class="row">
                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">محصول</th>
                                    <th scope="col">نام و نام خانوادگی</th>
                                    <th scope="col">امتیاز</th>
                                    <th scope="col">تاریخ ثبت</th>
                                    <th scope="col">وضعیت</th>
                                    <th scope="col">عملیات</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{object.product.title}}</td>
                                    <td>{{object.user.user_profile.get_fullname}}</td>
                                    <td>{{object.rate}}</td>
                                    <td>{{object.created_date|date:"Y-m-d h:i"}}</td>
                                    <td><span class="badge bg-{{object.get_status.title}}">{{object.get_status.label}}</span></td>
                                    <td class="d-flex">
                                        <a class="btn btn-sm btn-icon btn-ghost-secondary"
                                            href="{% url 'dashboard:admin:review-edit' pk=object.pk %}"><i class="bi-pencil-square"></i></a>
        
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <!-- End Table -->


                    <!-- Pagination -->

                    <div class="row pt-5 mt-3">
                        {% if page_obj.has_other_pages %}
                        <!-- Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <button class="page-link"
                                        onclick="changePage(`{{ page_obj.previous_page_number }}`)"
                                        aria-label="Previous">
                                        <span aria-hidden="true">
                                            <i class="bi-chevron-double-right small"></i>
                                        </span>
                                    </button>
                                </li>
                                {% endif %}
                                {{page_obj.page_range}}
                                {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %} <li
                                    class="page-item">
                                    <button class="page-link" onclick="changePage(`{{i}}`)">{{ i }}</button></li>

                                    {% endif %}

                                    {% endfor %}


                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <button class="page-link"
                                            onclick="changePage(`{{ page_obj.next_page_number }}`)"
                                            aria-label="Previous">
                                            <span aria-hidden="true">
                                                <i class="bi-chevron-double-left small"></i>
                                            </span>
                                        </button>
                                    </li>
                                    {% endif %}

                            </ul>
                        </nav>
                        {% endif %}
                        <!-- End Pagination -->
                    </div>
                    <!-- End Pagination -->



                </div>




            </div>


        </div>
        <!-- End Tab Content -->
    </div>
    <!-- End Body -->
</div>
<!-- End Card -->
{% endblock %}

{% block extra_js %}
<script>

    $(document).ready(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        $("#page-size-filter").val(current_url_params.get("page_size") || "10")
        $("#order-by-filter").val(current_url_params.get("order_by") || "")
        $("#search-query-filter").val(current_url_params.get("q") || "")
        $("#status-type-filter").val(current_url_params.get("status") || "")

    });
    $('#page-size-filter').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("page_size", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });
    $('#order-by-filter').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });

</script>
{% endblock %}