{% extends 'base.html' %}
{% load static %}


{% block content %}
<main id="content" role="main">
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
        <div class="w-lg-75 text-center mx-lg-auto">
            <!-- Heading -->
            <div class="mb-5 mb-md-10">
                <h1 class="display-4">درباره ما</h1>
                <p class="lead">Front یک شرکت وب است که وب سایت می سازد. کسب‌وکارها در هر اندازه‌ای - از استارت‌آپ‌های
                    جدید گرفته تا شرکت‌های عمومی - از موضوع ما برای ایجاد و مدیریت آنلاین کسب‌وکارشان استفاده می‌کنند.
                </p>
            </div>
            <!-- End Heading -->
        </div>

        <div class="row gx-3">
            <div class="col mb-3">
                <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img17.jpg' %}); height: 15rem;">
                </div>
            </div>
            <!-- End Col -->

            <div class="col-3 d-none d-md-block mb-3">
                <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img6.jpg' %}); height: 15rem;">
                </div>
            </div>
            <!-- End Col -->

            <div class="col mb-3">
                <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img14.jpg' %}); height: 15rem;">
                </div>
            </div>
            <!-- End Col -->

            <div class="w-100"></div>

            <div class="col mb-3 mb-md-0">
                <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img25.jpg' %}); height: 15rem;">
                </div>
            </div>
            <!-- End Col -->

            <div class="col-4 d-none d-md-block mb-3 mb-md-0">
                <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img16.jpg' %}); height: 15rem;">
                </div>
            </div>
            <!-- End Col -->

            <div class="col">
                <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img12.jpg' %}); height: 15rem;">
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Gallery -->

    <!-- Feature Stats -->
    <div class="container content-space-2 content-space-lg-3">
        <div class="row justify-content-lg-center">
            <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
                <div class="text-center">
                    <h2 class="display-4">7</h2>
                    <p class="small">سال در تجارت</p>
                </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
                <div class="text-center">
                    <h2 class="display-4">3,5k+</h2>
                    <p class="small">نسخه های فروخته شده</p>
                </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-4 col-lg-3">
                <div class="text-center">
                    <h2 class="display-4">85%</h2>
                    <p class="small">مشتریان خوشحال</p>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Feature Stats -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Info -->
    <div class="container content-space-2 content-space-lg-3">
        <div class="row justify-content-lg-between">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2>ابزارها باید با کاربر سازگار شوند، نه برعکس.</h2>
            </div>
            <!-- End Col -->

            <div class="col-lg-6">
                <p>از سال 2007، ما به 25 شرکت کمک کرده ایم تا بیش از 1000 محصول باورنکردنی را عرضه کنند. ما معتقدیم که
                    بهترین راه حل های دیجیتال در تقاطع استراتژی کسب و کار، فناوری موجود و نیازهای واقعی کاربر ساخته می
                    شوند.</p>
                <p>همه چیز می تواند واقعاً پیچیده شود، واقعاً به سرعت، و یک چشم انداز عملی، مصنوعی و روشن ضروری است تا
                    بتوان چیزی را ایجاد کرد که در نهایت قرار است مورد استفاده قرار گیرد. احساسات نیز نقش مهمی دارند و
                    ایجاد زیبایی شناسی واضح و زیبا برای ایجاد محیطی دلپذیر که در آن کاربر واقعاً از زمانی که در آن سپری
                    می‌کند لذت ببرد، از اهمیت بالایی برخوردار است. در نهایت، همه ما مشتاق چیزهای زیبایی هستیم که فقط کار
                    می کنند</p>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Info -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Team -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <span class="text-cap">تیم ما</span>
            <h2>ذهن های خلاق</h2>
        </div>
        <!-- End Heading -->

        <div class="row gx-3 mb-5">
            <div class="col-sm-6 col-lg-3 mb-3">
                <!-- Card -->
                <div class="card card-transition h-100">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{% static 'img/160x160/img7.jpg' %}" alt="Image Description">
                        </div>

                        <span class="card-subtitle">موسس / مدیر عامل</span>
                        <h4 class="card-title">کریستینا کری</h4>
                        <p class="card-text">من یک معتاد به کار جاه طلب هستم، اما جدای از آن، یک فرد بسیار ساده هستم.
                        </p>
                    </div>

                    <div class="card-footer pt-0">
                        <!-- Socials -->
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-twitter"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Socials -->
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6 col-lg-3 mb-3">
                <!-- Card -->
                <div class="card card-transition h-100">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{% static 'img/160x160/img3.jpg' %}" alt="Image Description">
                        </div>

                        <span class="card-subtitle">مدیر پروژه</span>
                        <h4 class="card-title">جف فیشر</h4>
                        <p class="card-text">من یک معتاد به کار جاه طلب هستم، اما جدای از آن، یک فرد بسیار ساده هستم.
                        </p>
                    </div>

                    <div class="card-footer pt-0">
                        <!-- Socials -->
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-twitter"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Socials -->
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6 col-lg-3 mb-3">
                <!-- Card -->
                <div class="card card-transition h-100">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{% static 'img/160x160/img10.jpg' %}" alt="Image Description">
                        </div>

                        <span class="card-subtitle">طراح محصول</span>
                        <h4 class="card-title">امی فورن</h4>
                        <p class="card-text">من یک معتاد به کار جاه طلب هستم، اما جدای از آن، یک فرد بسیار ساده هستم.
                        </p>
                    </div>

                    <div class="card-footer pt-0">
                        <!-- Socials -->
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-twitter"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Socials -->
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6 col-lg-3 mb-3">
                <!-- Card -->
                <div class="card card-transition h-100">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{% static 'img/160x160/img5.jpg' %}" alt="Image Description">
                        </div>

                        <span class="card-subtitle">مشاور پشتیبانی</span>
                        <h4 class="card-title">فیلیپ ویلیامز</h4>
                        <p class="card-text">من یک معتاد به کار جاه طلب هستم، اما جدای از آن، یک فرد بسیار ساده هستم.
                        </p>
                    </div>

                    <div class="card-footer pt-0">
                        <!-- Socials -->
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                                    <i class="bi-twitter"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Socials -->
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->

        <!-- Card Info -->
        <div class="text-center">
            <div class="card card-info-link card-sm">
                <div class="card-body">
                    میخواهی با ما کار کنی؟ <a class="card-link ms-2" href="./page-hire-us.html">استخدام می کنیم<span
                            class="bi-chevron-left small me-1"></span></a>
                </div>
            </div>
        </div>
        <!-- End Card Info -->
    </div>
    <!-- End Team -->
</main>
{% endblock content %}