{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Hero -->
<div class="position-relative bg-img-start" style="background-image: url({%static 'svg/components/card-11.svg' %});">
    <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2 position-relative zi-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <h1>تماس با ما</h1>
            <p>نظرات و انتقادات خود را بیان کنین</p>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <!-- Card -->
                <a class="card card-transition text-center h-100" href="#">
                    <div class="card-body">
                        <div class="svg-icon text-primary mb-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                                    fill="#035A4B"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.591 13.209V14.868H11.851C14.392 14.868 16.387 12.915 16.387 10.395C16.387 7.875 14.392 5.922 11.851 5.922C9.31 5.922 7.336 7.875 7.336 10.395H9.121C9.121 8.799 10.234 7.581 11.851 7.581C13.447 7.581 14.602 8.799 14.602 10.395C14.602 11.991 13.447 13.209 11.851 13.209H10.591ZM12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16Z"
                                    fill="#035A4B"></path>
                            </svg>

                        </div>

                        <h4 class="card-title">مشاوره خرید</h4>
                        <p class="card-text text-body">دانش کافی در زمان خرید داشته باشید</p>
                    </div>

                    <div class="card-footer pt-0">
                        <span class="card-link">تماس با پشتیبانی <i class="bi-chevron-left small ms-1"></i></span>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-md-4 mb-3 mb-md-0">
                <!-- Card -->
                <a class="card card-transition text-center h-100" href="#">
                    <div class="card-body">
                        <div class="svg-icon text-primary mb-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M22.1671 18.1421C22.4827 18.4577 23.0222 18.2331 23.0206 17.7868L23.0039 13.1053V5.52632C23.0039 4.13107 21.8729 3 20.4776 3H8.68815C7.2929 3 6.16183 4.13107 6.16183 5.52632V9H13C14.6568 9 16 10.3431 16 12V15.6316H19.6565L22.1671 18.1421Z"
                                    fill="#035A4B"></path>
                                <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.98508 18V13C1.98508 11.8954 2.88051 11 3.98508 11H11.9851C13.0896 11 13.9851 11.8954 13.9851 13V18C13.9851 19.1046 13.0896 20 11.9851 20H4.10081L2.85695 21.1905C2.53895 21.4949 2.01123 21.2695 2.01123 20.8293V18.3243C1.99402 18.2187 1.98508 18.1104 1.98508 18ZM5.99999 14.5C5.99999 14.2239 6.22385 14 6.49999 14H11.5C11.7761 14 12 14.2239 12 14.5C12 14.7761 11.7761 15 11.5 15H6.49999C6.22385 15 5.99999 14.7761 5.99999 14.5ZM9.49999 16C9.22385 16 8.99999 16.2239 8.99999 16.5C8.99999 16.7761 9.22385 17 9.49999 17H11.5C11.7761 17 12 16.7761 12 16.5C12 16.2239 11.7761 16 11.5 16H9.49999Z"
                                    fill="#035A4B"></path>
                            </svg>

                        </div>

                        <h4 class="card-title">سوالات متداول</h4>
                        <p class="card-text text-body">سوالات خود را از ما بپرسید و پیدا کنین</p>
                    </div>

                    <div class="card-footer pt-0">
                        <span class="card-link">مشاهده سوالات<i class="bi-chevron-left small ms-1"></i></span>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-md-4">
                <!-- Card -->
                <a class="card card-transition text-center h-100" href="#">
                    <div class="card-body">
                        <div class="svg-icon text-primary mb-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3"
                                    d="M19.0687 17.9688H11.0687C10.4687 17.9688 10.0687 18.3687 10.0687 18.9688V19.9688C10.0687 20.5688 10.4687 20.9688 11.0687 20.9688H19.0687C19.6687 20.9688 20.0687 20.5688 20.0687 19.9688V18.9688C20.0687 18.3687 19.6687 17.9688 19.0687 17.9688Z"
                                    fill="#035A4B"></path>
                                <path
                                    d="M4.06875 17.9688C3.86875 17.9688 3.66874 17.8688 3.46874 17.7688C2.96874 17.4688 2.86875 16.8688 3.16875 16.3688L6.76874 10.9688L3.16875 5.56876C2.86875 5.06876 2.96874 4.46873 3.46874 4.16873C3.96874 3.86873 4.56875 3.96878 4.86875 4.46878L8.86875 10.4688C9.06875 10.7688 9.06875 11.2688 8.86875 11.5688L4.86875 17.5688C4.66875 17.7688 4.36875 17.9688 4.06875 17.9688Z"
                                    fill="#035A4B"></path>
                            </svg>

                        </div>

                        <h4 class="card-title">کمک به توسعه</h4>
                        <p class="card-text text-body">پیشنهادات سازنده خود را به توسعه دهندگان انتقال دهید</p>
                    </div>

                    <div class="card-footer pt-0">
                        <span class="card-link">تماس با پشتیبانی<i class="bi-chevron-left small ms-1"></i></span>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>

    <!-- Shape -->
    <div class="shape shape-bottom zi-1">
        <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 500H3000V0L0 500Z" fill="#fff"></path>
        </svg>
    </div>
    <!-- End Shape -->
</div>
<!-- End Hero -->

<!-- Contact Form -->
<div class="container content-space-1 content-space-lg-1">
    <div class="mx-auto" style="max-width: 35rem;">
        <!-- Card -->
        <div class="card">
            <div class="card-body">
                <!-- Heading -->
                <div class="text-center mb-5 mb-md-9">
                    <h2>فرم تماس با پشتیبانی</h2>
                    <p>سوال یا نظرات خود را مطرح کنین</p>
                </div>
                <!-- End Heading -->

                <!-- Form -->
                <form action="{% url 'website:submit-ticket' %}" method="post">
                    {% csrf_token %}
                    <div class="row gx-3">
                        <div class="col-sm-12">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="formFirstName">نام و نام خانوادگی</label>
                                <input type="text" class="form-control form-control-lg" name="full_name"
                                    id="formFirstName" placeholder="نام و نام خانوادگی" required>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                   
                    </div>
                    <!-- End Row -->

                    <div class="row gx-3">
                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="formEmail">آدرس ایمیل</label>
                                <input type="email" class="form-control form-control-lg " name="email" dir="ltr"
                                    id="formEmail" placeholder="email@site.com" aria-label="email@site.com" required>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                        <div class="col-sm-6">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="formPhoneNumber">شماره همراه </label>
                                <input type="text" class="form-control form-control-lg " name="phone_number" dir="ltr"
                                    id="formPhoneNumber" placeholder="+9891200000" required>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                    <div class="row gx-3">
                        <div class="col-sm-12">
                            <!-- Form -->
                            <div class="mb-3">
                                <label class="form-label" for="formSubject">موضوع</label>
                                <input type="text" class="form-control form-control-lg" name="subject"
                                    id="formSubject" placeholder="موضوع مورد نظر را وارد نمایید" aria-label="First name" required>
                            </div>
                            <!-- End Form -->
                        </div>
                        <!-- End Col -->

                   
                    </div>
                    <!-- Form -->
                    <div class="mb-3">
                        <label class="form-label" for="formDescription">توضیحات</label>
                        <textarea class="form-control form-control-lg" name="content"
                            id="formDescription" placeholder="توضیحات خود را وارد نمایید"
                            aria-label="Tell us about your ..." rows="4" required></textarea>
                    </div>
                    <!-- End Form -->

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">ارسال درخواست</button>
                    </div>

                    <div class="text-center">
                        <p class="form-text">تیکت ها در اسرع وقت پاسخ داده خواهند شد</p>
                    </div>
                </form>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Card -->
    </div>
</div>
<!-- End Contact Form -->


{% endblock content %}