{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}

{% block content %}
<!-- Hero -->
<div class="position-relative content-space-t-2 content-space-t-lg-3">
    <!-- Swiper Main Slider -->
    <div class="js-swiper-shop-classic-hero swiper bg-light">
        <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide">
                <!-- Container -->
                <div class="container content-space-t-2 content-space-b-3">
                    <div class="row align-items-lg-center">
                        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                            <div class="mb-6">
                                <h1 class="display-4 mb-4">درپوش طرح اصلی جلو</h1>
                                <p>فرانت علاوه بر اینکه در نوآوری‌های فنی بازی را تغییر می‌دهد، برخی از پرفروش‌ترین
                                    کلاه‌ها را در
                                    قفسه خود دارد.</p>
                            </div>

                            <div class="d-flex gap-2">
                                <a class="btn btn-primary rounded-pill" href="#">نمایش جزئیات محصول</a>
                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-lg-6 order-lg-1">
                            <div class="w-75 mx-auto">
                                <img class="img-fluid" src="{% static 'img/mockups/img5.png' %}" alt="Image Description">
                            </div>
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Container -->
            </div>
            <!-- End Slide -->

            <!-- Slide -->
            <div class="swiper-slide">
                <!-- Container -->
                <div class="container content-space-t-2 content-space-b-3">
                    <div class="row align-items-lg-center">
                        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                            <div class="mb-6">
                                <h2 class="display-4 mb-4">اپل آیپد پرو</h2>
                                <p>این همه جدید، تمام صفحه نمایش، و همه قدرتمند است. کاملاً بازطراحی شده و با
                                    پیشرفته‌ترین فن‌آوری
                                    ما بسته‌بندی شده است، شما را وادار می‌کند دوباره به توانایی iPad خود فکر کنید.
                                </p>
                            </div>

                            <div class="d-flex gap-2">
                                <a class="btn btn-primary rounded-pill" href="#">نمایش جزئیات محصول</a>

                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-lg-6 order-lg-1">
                            <div class="w-75 mx-auto">
                                <img class="img-fluid" src="{% static 'img/mockups/img6.png' %}" alt="Image Description">
                            </div>
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Container -->
            </div>
            <!-- End Slide -->

            <!-- Slide -->
            <div class="swiper-slide">
                <!-- Container -->
                <div class="container content-space-t-2 content-space-b-3">
                    <div class="row align-items-lg-center">
                        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                            <div class="mb-6">
                                <h3 class="display-4 mb-4">هودی سلیو</h3>
                                <p>لیبل فرانسوی Celio که در سال 1985 تأسیس شد، 30 سال تخصص را در محدوده لباس‌های
                                    مردانه معاصر خود
                                    قرار می‌دهد. با شلوارک جین، شلوار چینی و پیراهن های چاپ شده، انتظار سبک پروازی
                                    را برای یک شهر یا
                                    ساحل داشته باشید.</p>
                            </div>

                            <div class="d-flex gap-2">
                                <a class="btn btn-primary rounded-pill" href="#">نمایش جزئیات محصول</a>

                            </div>
                        </div>
                        <!-- End Col -->

                        <div class="col-lg-6 order-lg-1">
                            <div class="w-75 mx-auto">
                                <img class="img-fluid" src="{% static 'img/mockups/img1.png' %}" alt="Image Description">
                            </div>
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Container -->
            </div>
            <!-- End Slide -->
        </div>

        <!-- Arrows -->
        <div class="js-swiper-shop-classic-hero-button-prev swiper-button-prev"></div>
        <div class="js-swiper-shop-classic-hero-button-next swiper-button-next"></div>
    </div>
    <!-- End Swiper Main Slider -->

    <!-- Swiper Thumbs Slider -->
    <div class="position-absolute bottom-0 start-0 end-0 mb-3">
        <div class="js-swiper-shop-hero-thumbs swiper" style="max-width: 13rem;">
            <div class="swiper-wrapper">
                <!-- Slide -->
                <div class="swiper-slide">
                    <a class="js-swiper-thumb-progress swiper-thumb-progress-avatar" href="javascript:;" tabindex="0">
                        <img class="swiper-thumb-progress-avatar-img" src="{% static 'img/160x160/img11.jpg' %}"
                            alt="Image Description">
                    </a>
                </div>
                <!-- End Slide -->

                <!-- Slide -->
                <div class="swiper-slide">
                    <a class="js-swiper-thumb-progress swiper-thumb-progress-avatar" href="javascript:;" tabindex="0">
                        <img class="swiper-thumb-progress-avatar-img" src="{% static 'img/160x160/img14.jpg' %}"
                            alt="Image Description">
                    </a>
                </div>
                <!-- End Slide -->

                <!-- Slide -->
                <div class="swiper-slide">
                    <a class="js-swiper-thumb-progress swiper-thumb-progress-avatar" href="javascript:;" tabindex="0">
                        <img class="swiper-thumb-progress-avatar-img" src="{% static 'img/160x160/img15.jpg' %}"
                            alt="Image Description">
                    </a>
                </div>
                <!-- End Slide -->
            </div>
        </div>
    </div>
    <!-- End Swiper Thumbs Slider -->
</div>
<!-- End Hero -->

<!-- Icon Blocks -->
<div class="border-bottom">
    <div class="container content-space-2">
        <div class="row">
            <div class="col-md-4 mb-7 mb-md-0">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-protected-card.svg' %}"
                            alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">تسویه حساب ایمن</h4>
                        <p class="small mb-0">تسویه حساب مطمئن تضمینی</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->

            <div class="col-md-4 mb-7 mb-md-0">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="ps-2  avatar avatar-4x3" src="{% static 'svg/illustrations/oc-return.svg' %}"
                            alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">30 روز بازگشت</h4>
                        <p class="small mb-0">پیشنهاد ما به شما بازپرداخت کامل ظرف 30 روز پس از خرید است.</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->

            <div class="col-md-4">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-truck.svg' %}"
                            alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">ارسال رایگان</h4>
                        <p class="small mb-0">حمل و نقل استاندارد رایگان را به صورت خودکار در هر سفارش دریافت کنید.
                        </p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- End Icon Blocks -->

<!-- Card Grid -->
<div class="container content-space-2 content-space-lg-3">
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>خرید بهترین محصولات در فروشگاه</h2>
    </div>
    <!-- End Heading -->

    <div class="row mb-2">
        <div class="col-sm-6 col-md-4 mb-4">
            <!-- Card -->
            <div class="card card-bordered shadow-none overflow-hidden">
                <div class="card-body d-flex align-items-center border-bottom p-0">
                    <div class="w-65 border-end">
                        <img class="img-fluid" src="{% static 'img/380x400/img3.jpg' %}" alt="Image Description">
                    </div>
                    <div class="w-35">
                        <div class="border-bottom">
                            <img class="img-fluid" src="{% static 'img/380x360/img8.jpg' %}" alt="Image Description">
                        </div>
                        <img class="img-fluid" src="{% static 'img/380x360/img7.jpg' %}" alt="Image Description">
                    </div>
                </div>

                <div class="card-footer text-center">
                    <h3 class="card-title">تی شرت</h3>
                    <p class="card-text text-muted small">شروع از 29.99 تومان</p>
                    <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده
                        همه</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-4 mb-4">
            <!-- Card -->
            <div class="card card-bordered shadow-none overflow-hidden">
                <div class="card-body d-flex align-items-center border-bottom p-0">
                    <div class="w-65 border-end">
                        <img class="img-fluid" src="{% static 'img/380x400/img4.jpg' %}" alt="Image Description">
                    </div>
                    <div class="w-35">
                        <div class="border-bottom">
                            <img class="img-fluid" src="{% static 'img/380x360/img6.jpg' %}" alt="Image Description">
                        </div>
                        <img class="img-fluid" src="{% static 'img/380x360/img5.jpg' %}" alt="Image Description">
                    </div>
                </div>

                <div class="card-footer text-center">
                    <h3 class="card-title">پوشش های فنی</h3>
                    <p class="card-text text-muted small">شروع از 399.99 تومان</p>
                    <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده
                        همه</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-4 mb-4">
            <!-- Card -->
            <div class="card card-bordered shadow-none overflow-hidden">
                <div class="card-body d-flex align-items-center border-bottom p-0">
                    <div class="w-65 border-end">
                        <img class="img-fluid" src="{% static 'img/380x400/img2.jpg' %}" alt="Image Description">
                    </div>
                    <div class="w-35">
                        <div class="border-bottom">
                            <img class="img-fluid" src="{% static 'img/380x360/img4.jpg' %}" alt="Image Description">
                        </div>
                        <img class="img-fluid" src="{% static 'img/380x360/img3.jpg' %}" alt="Image Description">
                    </div>
                </div>

                <div class="card-footer text-center">
                    <h3 class="card-title">کلاه</h3>
                    <p class="card-text text-muted small">شروع از 13.99 تومان</p>
                    <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="#">مشاهده
                        همه</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="text-center">
        <p class="small">فروش ویژه محصولات برای مدت زمانی محدود</p>
    </div>
</div>
<!-- End Card Grid -->

<!-- Card Grid -->
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
            <!-- Card -->
            <div class="card card-lg bg-img-start"
                style="background-image: url({% static 'img/900x900/img3.jpg' %}); min-height: 30rem;">
                <div class="card-body">
                    <span class="card-subtitle text-danger">فقط برای زمانی محدود</span>
                    <h2 class="card-title display-4">70% تخفیف</h2>

                    <div class="w-md-65">
                        <!-- Countdown -->
                        <div class="js-countdown row mb-5">
                            <div class="col-4 text-center">
                                <div class="border border-dark rounded-2 p-2 mb-1">
                                    <span class="js-cd-days h2"></span>
                                </div>

                                <h5 class="card-title">روزها</h5>
                            </div>
                            <!-- End Col -->

                            <div class="col-4 text-center">
                                <div class="border border-dark rounded-2 p-2 mb-1">
                                    <span class="js-cd-hours h2"></span>
                                </div>

                                <h5 class="card-title">ساعت ها</h5>
                            </div>
                            <!-- End Col -->

                            <div class="col-4 text-center">
                                <div class="border border-dark rounded-2 p-2 mb-1">
                                    <span class="js-cd-minutes h2"></span>
                                </div>

                                <h5 class="card-title">دقیقه</h5>
                            </div>
                            <!-- End Col -->

                            <div class="col-4 d-none text-center">
                                <div class="border border-dark rounded-2 p-2 mb-1">
                                    <span class="js-cd-seconds h2"></span>
                                </div>

                                <h5 class="card-title">ثانیه</h5>
                            </div>
                            <!-- End Col -->
                        </div>
                        <!-- End Row -->
                    </div>

                    <a class="btn btn-light btn-sm btn-transition rounded-pill px-6" href="#">خرید کنید</a>
                </div>
            </div>
            <!-- End Card -->
        </div>

        <div class="col-md-6">
            <!-- Card -->
            <div class="card card-lg bg-img-start"
                style="background-image: url({% static 'img/900x900/img4.jpg' %}); min-height: 30rem;">
                <div class="card-body">
                    <div class="mb-4">
                        <h2 class="card-title text-white">$109.99</h2>
                        <h3 class="card-title text-white">دوچرخه Nakto 26</h3>
                        <p class="card-text text-white">دوچرخه های NAKTO برای نجات محیط زیست و به ارمغان آوردن
                            سرگرمی برای
                            دوستانمان!</p>
                    </div>

                    <a class="btn btn-light btn-sm btn-transition rounded-pill px-6" href="#">خرید کنید</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>
</div>
<!-- End Card Grid -->

{% show_latest_products %}

<!-- Subscribe -->
<div class="bg-light">
    <div class="container content-space-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
            <div class="row justify-content-lg-between">
                <!-- Heading -->
                <div class="mb-5">
                    <span class="text-cap">ثبت نام</span>
                    <h2>اخبار جدید را دریافت کنید</h2>
                </div>
                <!-- End Heading -->

                <form>
                    <!-- Input Card -->
                    <div class="input-card input-card-pill input-card-sm border mb-3">
                        <div class="input-card-form">
                            <label for="subscribeForm" class="form-label visually-hidden">ایمیل را وارد کنید</label>
                            <input type="text" class="form-control form-control-lg" id="subscribeForm"
                                placeholder="ایمیل خود را وارد نمایید" aria-label="ایمیل خود را وارد کنید">
                        </div>
                        <button type="button" class="btn btn-primary btn-lg rounded-pill">ثبت نام</button>
                    </div>
                    <!-- End Input Card -->
                </form>

                <p class="small">می توانید در هر زمانی اشتراک خود را لغو کنید <a href="#">سیاست حفظ حریم خصوصی</a>
                    ما را
                    بخوانید</p>
            </div>
        </div>
    </div>
</div>
<!-- End Subscribe -->

<!-- Clients -->
<div class="container content-space-2">
    <div class="row">
        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/hollister-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/levis-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/new-balance-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/puma-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/nike-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'svg/brands/tnf-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Clients -->
{% endblock content %}