{% extends 'dashboard/customer/base.html' %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item">داشبورد</li>
        <li class="breadcrumb-item">نشانی</li>
        <li class="breadcrumb-item active" aria-current="page">
            حذف نشانی
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
        <h5 class="card-header-title">حذف نشانی</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <form action="." method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="row d-flex ">
                <p> آیا از حذف نشانی زیر اطمینان دارید؟</p>
                <div class="row">
                     <span>شناسه نشانی  : {{object.pk}}</span>
                     <span> نشانی  : {{object.state}},{{object.city}},{{object.address}} ,{{object.zip_code}}</span>
                </div>

            </div>
            <div class="card-footer">
                <div class=" d-flex pt-5 justify-content-end">
                    <button type="submit" class="btn btn-danger ms-3">تایید حذف</button>
                    <a class="btn btn-secondary ms-3" href="{% url 'dashboard:customer:address-edit' pk=object.pk %}">بازگشت</a>
                </div>
            </div>
    </form>
</div>

{% endblock %}

