{% if messages %}
    {% for message in messages %}
      <script>
        Toastify({
            text:`{{ message|safe }}`,
            className: `{{ message.tags }}`,
            style: {
              background: "blue",
            }
          }).showToast();
      </script>
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-error">
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              
              <script>
                Toastify({
                    text:`{{ error|escape }}`,
                    className: `error`,
                    style: {
                      background: "red",
                    }
                  }).showToast();
              </script>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        <script>
            Toastify({
                text:`{{ form.non_field_errors.as_text }}`,
                className: `error`,
                style: {
                  background: "red",
                }
              }).showToast();
          </script>
      {% endif %}
    </div>
  {% endif %}
