{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Content -->
<div class="container content-space-3 content-space-lg-5">
    <div class="row">
        <div class="col-lg-8 mb-7 mb-lg-0">
            <h4 class="mb-3">انتخاب آدرس </h4>

            <!-- Form -->
            <form action="." method="post" id="checkout-form">
                {% csrf_token %}

                <hr class="my-4">

                <div class="d-grid gap-2">

                    <!-- Check -->
                    {% for address in addresses %}
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="address_id" value="{{address.id}}" required>
                        <label class="form-check-label" for="address">
                            {{address.state}},{{address.city}},{{address.address}} ,{{address.zip_code}}</label>
                    </div>
                    {% endfor %}

                    <div class="mt-3">
                        <a class="" href="{% url 'dashboard:customer:address-list' %}">مدیریت آدرس ها</a>
                    </div>
                </div>

                <hr class="my-4">


                <div class="row align-items-center">



                    <div class="col-sm text-center text-sm-start">
                        <a class="link" href="{% url 'cart:cart-summary' %}">
                            بازگشت به سبد خرید<i class="bi-chevron-left small me-1"></i>
                        </a>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </form>
            <!-- End Form -->
        </div>
        <!-- End Col -->

        <div class="col-lg-4">
            <div class="ps-lg-4">
                <!-- Card -->
                <div class="card card-sm shadow-sm mb-4">
                    <div class="card-body">
                        <div class="border-bottom pb-4 mb-4">
                            <h3 class="card-header-title">خلاصه سفارش</h3>
                        </div>


                        <div class="input-group border-bottom pb-4 mb-3 ">
                            <input type="text" class="form-control text-center" name="coupon" placeholder="کد تخفیف"
                                aria-label="کد تخفیف" form="checkout-form" id="coupon-input">
                            <button class="btn btn-primary" type="button" onclick="validateCoupon()"> بررسی</button>
                        </div>

                        <div class="border-bottom pb-4 mb-4">
                            <div class="d-grid gap-3">

                                <!-- End Row -->

                                <dl class="row">
                                    <dt class="col-sm-6">هزینه ارسال</dt>
                                    <dd class="col-sm-12 text-sm-end mb-0">برای تهران و حومه 35000 تومان</dd>
                                    <dd class="col-sm-12 text-sm-end mb-0">برای شهرستان ها 50000 تومان</dd>
                                </dl>
                                <!-- End Row -->
                            </div>
                        </div>

                        <div class="d-grid gap-3 mb-4">
                            <dl class="row">
                                <dt class="col-sm-6">مالیات تخمینی</dt>
                                <dd class="col-sm-12 text-sm-end mb-0">
                                    9% مالیات - 
                                    <span class="formatted-price" id="total-tax"> {{total_tax}}</span>
                                </dd>

                            </dl>
                            <!-- End Row -->

                            <dl class="row">
                                <dt class="col-sm-6">جمع کل</dt>
                                <dd class="col-sm-6 text-sm-end mb-0 formatted-price" id="total-price">{{total_price}}</dd>
                            </dl>
                            <!-- End Row -->
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit" form="checkout-form" >ثبت نهایی</button>
                        </div>

                    </div>
                    <!-- End Card -->
                </div>

                <!-- Media -->
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <div class="svg-icon svg-icon-sm text-primary">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M22.1671 18.1421C22.4827 18.4577 23.0222 18.2331 23.0206 17.7868L23.0039 13.1053V5.52632C23.0039 4.13107 21.8729 3 20.4776 3H8.68815C7.2929 3 6.16183 4.13107 6.16183 5.52632V9H13C14.6568 9 16 10.3431 16 12V15.6316H19.6565L22.1671 18.1421Z"
                                    fill="#035A4B" />
                                <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.98508 18V13C1.98508 11.8954 2.88051 11 3.98508 11H11.9851C13.0896 11 13.9851 11.8954 13.9851 13V18C13.9851 19.1046 13.0896 20 11.9851 20H4.10081L2.85695 21.1905C2.53895 21.4949 2.01123 21.2695 2.01123 20.8293V18.3243C1.99402 18.2187 1.98508 18.1104 1.98508 18ZM5.99999 14.5C5.99999 14.2239 6.22385 14 6.49999 14H11.5C11.7761 14 12 14.2239 12 14.5C12 14.7761 11.7761 15 11.5 15H6.49999C6.22385 15 5.99999 14.7761 5.99999 14.5ZM9.49999 16C9.22385 16 8.99999 16.2239 8.99999 16.5C8.99999 16.7761 9.22385 17 9.49999 17H11.5C11.7761 17 12 16.7761 12 16.5C12 16.2239 11.7761 16 11.5 16H9.49999Z"
                                    fill="#035A4B" />
                            </svg>

                        </div>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <span class="small me-1">نیاز به پشتیبانی دارید؟</span>
                        <a class="link small" href="#">ارسال تیکت</a>
                    </div>
                </div>
                <!-- End Media -->
            </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Content -->
{% endblock content %}

{% block extra_js %}
<script>
    function applyDiscount(total_price,total_tax){
        $("#total-price").html(total_price)
        $("#total-tax").html(total_tax)

        formatPriceInToman(document.getElementById("total-price"))
        formatPriceInToman(document.getElementById("total-tax"))
    }

    function validateCoupon(){
        $.ajax({
            url: "{%  url 'order:validate-coupon' %}",
            method: 'POST',
            data: {
                code: $('#coupon-input').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
    
            },
            success: function (response) {
                console.log("success",response);
                Toastify({
                    text:response.message,
                    className: `info`,
                    style: {
                      background: "blue",
                    }
                  }).showToast();
                  applyDiscount(response.total_price,response.total_tax)
                // do something with the response data
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
                Toastify({
                    text:jqXHR.responseJSON.message,
                    className: `error`,
                    style: {
                      background: "red",
                    }
                  }).showToast();
                
                // handle the error case
            }
        });
    }

</script>

{% endblock %}