{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Content -->
<div class="container content-space-3 content-space-lg-5">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
        <div class="mb-5">
            <img class="img-fluid" src="{% static '/svg/illustrations/oc-hi-five.svg' %}" alt="Image Description"
                style="width: 15rem;">
        </div>

        <div class="mb-5">
            <h1 class="h2">سفارش شما تکمیل شد!</h1>
            <p>از سفارش شما متشکریم! سفارش شما در حال پردازش است و ظرف 3 تا 6 ساعت تکمیل خواهد شد. پس از تکمیل سفارش شما
                یک ایمیل تاییدیه دریافت خواهید کرد.</p>
        </div>

        <a class="btn btn-primary btn-transition rounded-pill px-6" href="{% url 'shop:product-grid' %}">به خرید ادامه دهید</a>
    </div>
</div>
<!-- End Content -->

<!-- Subscribe -->
<div class="bg-light">
    <div class="container content-space-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
            <div class="row justify-content-lg-between">
                <!-- Heading -->
                <div class="mb-5">
                    <span class="text-cap">ثبت نام</span>
                    <h2>اخبار جدید را دریافت کنید</h2>
                </div>
                <!-- End Heading -->

                <form method="post" action="{% url 'website:newsletter' %}">
                    {% csrf_token %}
                    <!-- Input Card -->
                    <div class="input-card input-card-pill input-card-sm border mb-3">
                        <div class="input-card-form">
                            <input class="form-control border-0 me-1" type="text" placeholder="نام"
                                        name="first_name" hidden="">
                            <label for="subscribeForm" class="form-label visually-hidden">ایمیل را وارد کنید</label>
                            <input type="email" class="form-control form-control-lg" name="email"
                                placeholder="ایمیل خود را وارد نمایید" aria-label="ایمیل خود را وارد کنید">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg rounded-pill">ثبت نام</button>
                    </div>
                    <!-- End Input Card -->
                </form>

                <p class="small">می توانید در هر زمانی اشتراک خود را لغو کنید <a href="#">سیاست حفظ حریم خصوصی</a> ما را
                    بخوانید</p>
            </div>
        </div>
    </div>
</div>
<!-- End Subscribe -->

<!-- Clients -->
<div class="container content-space-2">
    <div class="row">
        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/hollister-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/levis-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/new-balance-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/puma-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/nike-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="/assets/svg/brands/tnf-dark.svg" alt="Logo">
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Clients -->

{% endblock content %}